<body>

<div class="container">
    <h1>REHOME FORM</h1>
    <p>Let's find the best home for your cat</p>
    <form [formGroup]="form">
        <div class="row">
            <div class="column">
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Pet name here" name="name" formControlName="name">
            </div>
            <div class="column">
                <label for="email">Gender:</label>
                <select class="form-select" aria-label="Default select example" name="gender" formControlName="gender">
                    <option >Male</option>
                    <option >Female</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="name">Age:</label>
                <!--     -->
                <select class="form-select" aria-label="Default select example" name="age" formControlName="age">
                    <option >Kitten</option>
                    <option>Young</option>
                    <option>Adult</option>
                    <option>Senior</option>
                  </select>
            </div>
            <div class="column">
                <label for="email">Color:</label>
                <select class="form-select" aria-label="Default select example" name="color" formControlName="color">
                    <option >Black</option>
                    <option>Black and White</option>
                    <option>Brown or Chocolate</option>
                    <option>Calico</option>
                    <option>Gray</option>
                    <option>Orange</option>
                    <option>Brown Tabby</option>
                    <option>Silver Tabby</option>
                    <option>Orange Tabby</option>
                    <option>Tan or Fawn</option>
                    <option>White</option>
                    <option>Cream</option>
                    <option>Spotted Tabby</option>
                    <option>Tiger Striped</option>

                  </select>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="name">Hair Length:</label>
                <select class="form-select" aria-label="Default select example" name="hair_length" formControlName="hair_length">
                    <option>Hairless</option>
                    <option>Short</option>
                    <option>Medium</option>
                    <option>Long</option>

                  </select>
            </div>
            <div class="column">
                <label for="email">Cat Breed:</label>
                <select class="form-select"  name="breed" formControlName="breed" aria-label="Default select example">
                    <option>Abyssinian</option>
                    <option>American bobtail</option>
                    <option>American curl</option>
                    <option>American shorthair
                    </option>
                    <option>American wirehair</option>
                    <option>Balinese</option>
                    <option>Bengal</option>
                    <option>Birman</option>
                    <option>Bombay</option>
                    <option>British shorthair
                    </option>
                    <option>Burmese</option>
                    <option>Calico</option>
                    <option>Chartreux</option>
                    <option>Colorpoint shorthair</option>
                    <option>Cornish rex
                    </option>
                    <option>Cymric</option>
                    <option>Devon rex</option>
                    <option>Domestic longhair</option>
                    <option>Domestic mediumhair</option>
                    <option>Domestic shorthair</option>
                    <option>Egyptian mau
                    </option>
                    <option>European burmese</option>
                    <option>Exotic</option>
                    <option>Havana brown
                    </option>
                    <option>Himalayan</option>
                    <option>Japanese bobtail</option>
                    <option>Javanese</option>
                    <option>Korat</option>
                    <option>LaPerm</option>
                    <option>Maine Coon</option>
                    <option>Manx</option>
                    <option>Munchkin</option>
                    <option>Norwegian forest cat</option>

                  </select>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="subject">Lost Location:</label>
                <input type="text"placeholder="Pet's Location  : Enter City, State or Zip Code" name="location" formControlName="location"/>
            </div>
            <div class="column">
                <label for="spayed" >Is your cat spayed or neutered?:</label>
                <select class="form-select" aria-label="Default select example" name="spayed" formControlName="spayed">
                    <option selected></option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="shots_upto_date" >Shots up up date?</label>
                <select class="form-select" aria-label="Default select example" name="shots_upto_date" formControlName="shots_upto_date">
                    <option>Yes</option>
                    <option>No</option>
                    <option>Unknown</option>
                  </select>
            </div>
            <div class="column">
                <label for="reason" >Why do you need to rehome your cat?</label>
                <select class="form-select" aria-label="Default select example" name="reason" formControlName="reason">

                    <option>Behavioral issues</option>
                    <option>Busy schedule</option>
                    <option>Does not get along with another pet</option>
                    <option>Fostered</option>
                    <option>Found or abandoned</option>
                    <option>Human health issues (e.g allergies, sickness)</option>
                    <option>Infant, young children or pregnancy</option>
                    <option>Landlord permission issues</option>
                    <option>Ongoing costs</option>
                    <option>Pet medical expenses (e.g vet procedure)</option>
                    <option>Relocating</option>
                  </select>
            </div>
        </div>
        <div class="row">

            <div class="column">
                <label for="image">Image</label>
                <input name="image" formControlName="image" id="image" type="file" (change)="uploadImage($event)">

            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="story">Pet's Story</label>
                <textarea id="story" placeholder="Share anything here about your pet." rows="3" name="story" formControlName="story"></textarea>
            </div>
        </div>
        <div class="row">
          <div class="column">
              <label for="diet">Pet's Diet</label>
              <textarea id="diet" placeholder="To better ensure your pet's diet is maintained with the new pet owner, please tell us what brand and what type of food they eat." rows="3" name="diet" formControlName="diet"></textarea>
          </div>
      </div>


    <!-- ------ Submit button ---------------------------------- -->
<!--<button (click)="onCreate()">Submit</button> -->
      <label class="btn" for="chkBox">Submit</label>
      <input type="checkbox" name="" id="chkBox">
      <div class="mainContnt">
        <div class="box">
            <div class="boxes bx2">
                <h3>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h3>
                <div class="close-box">
                  <a routerLink="/home"><label for="chkBox" class="box-close">Back to Home</label></a>
                </div>
            </div>
        </div>
    </div>

    </form>
</div>
</body>
