
<!Doctype HTML>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo">
        <a routerLink="/home"><img  src="../assets/logo.png" alt=""></a>
        <!-- <img class="logo" src="../assets/logo.png" alt=""> -->
    </p>
        <a href="#" class="icon-a"  routerLink="/admin" ><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
        <a href="#" class="icon-a " routerLink="/users"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Users</a>
        <a href="#" class="icon-a active" routerLink="/lostnfound-lists"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Lost 'n Found</a>
        <a href="#" class="icon-a" routerLink="/adoption-lists"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Adoption</a>
        <a (click)="logout()" class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Log Out</a>
</div>

<div id="main">

	<div class="head">
		<div class="col-div-6">
        <span style="font-size:70px;cursor:pointer; color: white;" class="nav"> LOST n FOUND LIST</span>
    </div>
	
	
	<div class="clearfix"></div>
</div>


	<br/>

	<div class="clearfix"></div>
	<br/><br/>
    
	<div class="col-div-8">
    <div class="box-8">
        <table>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Gender</th>
            <th>Lost/Found Date</th>
            <th>Description</th>
            <th>Image</th>
            <th>Status</th>





        </tr>
        <tr *ngFor="let lostFound of lostFounds$ | async">
            <td>{{lostFound.name}}</td>
            <td>{{lostFound.location}}</td>
            <td>{{lostFound.gender}}</td>
            <td>{{lostFound.date}}</td>
            <td>{{lostFound.description}}</td>
            <td><img src="{{$url}}{{lostFound.image}}" alt="" width="100"></td>
            <td>{{lostFound.status}}</td>
            

        </tr>
       
       
      
    
    
    </table>
    </div>

</div>


		
	<div class="clearfix"></div>
</div>

</body>


</html>






