.col-div-8{
	width: 70%;
	float: left;
    padding-bottom:180px;
    
}
.box-8, .box-4{
	width: 95%;
	background-color: #FBC252;
	height: 330px;
	
}
.box-8{
	margin-left: 10px;
}
table {
    font-family: 'Bree Serif', serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding:15px;
  color: black;
  border-bottom: 1px solid #81818140;
}