
<div class="col-div-8">
    <div class="box-8">
    


        <table>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Password</th>


        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>user@gmail.com</td>
            <td>09xxxxxxxxxx</td>
            <td>Talamban</td>
            <td>1234567</td>

        </tr>
        <tr>
            <td>Centro comercial Moctezuma</td>
            <td>user@gmail.com</td>
            <td>09xxxxxxxxxx</td>
            <td>Talamban</td>
            <td>1234567</td>
        </tr>
        <tr>
            <td>Ernst Handel</td>
            <td>user@gmail.com</td>
            <td>09xxxxxxxxxx</td>
            <td>Talamban</td>
            <td>1234567</td>
        </tr>
        <tr>
            <td>Island Trading</td>
            <td>user@gmail.com</td>
            <td>09xxxxxxxxxx</td>
            <td>Talamban</td>
            <td>1234567</td>
        </tr>
    
    
    </table>
    </div>

</div>