<div class="logo">
  <img class="logo" src="../assets/logo.png" alt="">
</div>

<nav>
    <div>
        <ul class="menulist">
            <li class="dropdown-menu"><a href="#" >Cat Care <img class="downbutton" src="../assets/down button.png" alt=""></a>
                <ul class="dropdown-item">
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                </ul>
            </li>
            <li><a href="#">Lost 'n Found <img class="downbutton" src="../assets/down button.png" alt=""></a></li>
            <li><a href="#">Adoption <img class="downbutton" src="../assets/down button.png" alt=""></a></li>
            <li><a href="#">Cat Gallery <img class="downbutton" src="../assets/down button.png" alt=""></a></li>
            <li><a href="#">About Us <img class="downbutton" src="../assets/down button.png" alt=""></a></li>
        </ul>
    </div>

</nav>


  <div class="home">
    <img src="../assets/kittenify__1_-removebg-preview.png" alt="">
    <div >
     <!-- <p>
      NOT ONLY PEOPLE NEED A HOME
     </p>

     <p>
      If you are thinking of bring a cat in to your home you should make sure that all are nice and comfortable. From foods to health and from us to your care.


     </p> -->

     <!-- <h1>
      NOT ONLY PEOPLE NEED A HOME

     </h1> -->
    </div>
  </div>

