
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {

	padding: 20px 35px;
	background-color: #FBC252;
  width:80%;
  float:right;

}

.logo {
  width:300px;
  height:120px;
  float:left;
  padding-left: 10px;
  margin-top: 0px;
}

nav .buttons{
  float:right;

}

nav label{
  margin-left: 50px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  padding: 10px 50px;
  margin-top: -8px;
  background-color: #434242;
  color:azure;
  border-style:solid;
  border-color: #FFFBAC;
  border-width: 5px;
}
nav label:hover{
  background-color: #FFFBAC;
  border-style:solid;
  border-color: #434242;
  border-width: 5px;
  color:black;
}
nav .title_lines{
  font-family: 'Alumni Sans Collegiate One', sans-serif;
  font-size: 70px;
  text-align: center;
  letter-spacing: 2px;
}

/*

.title_lines {
  position: relative;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #3267EA;
  font-family: arial;
}
.title_lines:before, .title_lines:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 48%;
  height: 1px;
  content: '\a0';
  background-color: #cccccc;
  margin-left: 2%;
}
.title_lines:before {
  margin-left: -50%;
  text-align: right;
} */

body {
  padding: 50px 0;

}

  /* search bar here */
button[type="submit"]:hover {
  opacity: 1;
}

form.nosubmit {
 border: none;
 padding: 0;
}

input.nosubmit {

  margin: 60px 30px;
  border: 1px solid #555;
  width: 1800px;
  padding: 9px 4px 9px 40px;
}

.collage img{
  margin-left: 20px;
  width: 200px;
  height: 200px;

}
.container .collage{
  margin-left: 500px;
  min-width: 1000px;

}

#buttons{
  width: 80vw;
  margin: auto;
  text-align: center;
}

.buy button{
  margin-left: 50px;
  width: 50px;
}
.name1{
  color: #960303;
}

.button {
  border: none;
  color: white;
  padding: 13px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5%;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #e67700;
}
.button11 {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  background-color: #e67700;

}
.button12 {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  background-color: #e67700;

}


.button1:hover {
  background-color: #960303;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #e67700;
}

.button2:hover {
  background-color: #e67700;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #60a100;
}

.button3:hover {
  background-color: #60a100;
  color: white;
}

 * {
  box-sizing: border-box;
}
body {
  padding: 1rem;
}

/* Just for the fallback layout */

main {
  max-width: 500px;
  margin: 0 auto;
}
article {
  margin: 1rem 0;
}

/* Now lets do a Grid-based layout */

@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
  }
  .deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
}

.deals {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%;
}
.sale-item {
  display: flex;
  flex-flow: column;
  border:  1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}
.sale-item > h1 {
  margin: 1rem 1rem 0;
}
.sale-item > ul {
  margin: 0 0 1rem;
}
.sale-item > p {
  margin: 0.25em 1rem 1rem;
}
.sale-item > img {
  order: -1;
  align-self: center;
}
.sale-item >a button {
  margin-top: auto;
  background: #e67700;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
}
