body{
  background: #f1eded;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.container{
  width: 45%;
  margin: 50px auto;
}
header{
  color: #252524;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin: 50px 0;
}
header>span{
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #e67700;
  font-style: italic;

}
.in-container{
  width: 100%;
  margin: 40px 0;
  color: #000000;
}
h2{
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #e67700;
  border-width: 2px;
  margin: 20px 50px;
  padding: 10px;
  text-align: center;
}
.row{
  width: 100%;
  margin: 20px 0;
  padding: 0;
  display: table;
}
.col2{
  display: table;
  width: 47%;
  float: left;
}
.col2:nth-child(2){
  display: table;
  float: right;
}
label{
  line-height: 35px;
  display: table-header-group;
  letter-spacing: 0.9px;
  transition: all 0.3s ease;
}
input{
  width: 100%;
  display: table-row-group;
  border-sizing: border-box;
  padding: 15px;
  border: 2px solid rgb(49, 49, 49);
  border-radius: 5px;
  background: transparent;
  color: #000000;
  font-size: 1rem;
}
input:focus{
  outline: none !important;
  border-color: #e67700;
}
input:focus + label{
  color: #e67700;
}
input[type="submit"]{
  display: table;
  width: 30%;
  margin: 20px -32px 0 auto;
  background: #e67700;
  border: 0;
  text-decoration: none;

}
input[type="submit"]:hover{
  background-color: #e67700;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  text-decoration: none;

}
