
                <div class="bbbootstrap">
                  <div class="container">
                  <form>
                  
                  <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" id="Form_Search" value="" placeholder="Find Your Perfect Cat Breed" role="searchbox" class="InputBox " autocomplete="off"><input type="submit" id="Form_Go" class="Button" value="GO">
                  </form>
                  </div>
                  </div>

<div class="container mt-5">
  <div class="row cards ">
    <div class="col-12 col-md-6">
      <div class="card card2 card-large">
        <a href="#" class="">
          <img class="card-img-top " src="https://picsum.photos/768/480?random" alt="Card #1 img alt.">
        <div class="card-body">
          <span class="card-title">American Bobtail</span>
        </div>
        <div class="card-footer">
          28 available for adoption<span class="vfi vfi-fleche-droite" aria-hidden="true"></span>
        </div>
      </a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card card4 card-large">
        <a href="#" class="">
          <img class="card-img-top " src="https://picsum.photos/768/480?random" alt="Card #2 img alt.">
        <div class="card-body">
          <span class="card-title">American Curl</span>
        </div>
        <div class="card-footer">
          50 available for adoption<span class="vfi vfi-fleche-droite" aria-hidden="true"></span>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>