<link rel="stylesheet" href="./login.component.css">
<br><br>
<h2>  ∧,,,∧  <br> ~
    (  ̳• · • ̳)   ~ <br> ♡  You’re purrfect   ♡
    </h2>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <span>or use your email for registration</span>
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="c_password" placeholder="Confirm Password" />

      <br>
      <button>Sign Up</button>
    </form> 
  </div>
  <div class="form-container sign-in-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h1>Welcome Back!</h1>
      <div class="alert alert-danger mt-3" [hidden]="!error" >
        {{error}}

      </div>
      <input type="email" placeholder="Email" name="email" [(ngModel)]="form.email" required/>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="form.password" required/>
      <a href="#">Forgot your password?</a>
      <button [disabled]="!loginForm.valid">Sign in</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1><br>
        <p>To keep connected with us please login with your personal info</p>
         <h1>^⇀ﻌ↼^ฅ</h1>
         <br>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Don't have an account?
            <br><br>

        </h1>
        <h1> ^⇀ﻌ↼^ฅ</h1>
        <br>

        <button routerLink="/signup" class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
  container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
  container.classList.remove("right-panel-active");
});
</script>
