

<form class="login" [formGroup]="signinForm" (ngSubmit)="loginUser()">
    <h2>Welcome Back <br>
       Ailurophiles! 
       <br>
       (-‿◦☀)
    </h2>
    <p>Please log in</p>
    <input type="email"
    class="form-control"
    formControlName="email"
    placeholder="Enter email"
    required/>
    <input type="password"
    class="form-control"
    formControlName="password"
    placeholder="Password"/>
    <input type="submit" value="Log In" />
    <div class="links">
      <a>Forgot password</a>
      <a routerLink="/register">Don't have an account?</a>
    </div>
    </form>