<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let cat of cats">
      <div class="card h-50">
        <img src="{{$url}}{{cat.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cat.name}}</h5>
          <p class="card-text">{{cat.age}} | {{cat.breed}}</p>
          <p class="card-text">{{cat.location}}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary" routerLink="/adoption/{{cat.id}}">Read more</a>

        </div>
      </div>
    </div>


  </div>
</div>
