<div class="logo">
  <img class="logo" src="../assets/logo.png" alt="">
</div>

<nav>
    <label for="drop" class="toggle"></label> 
    <input type="checkbox" id="drop" hidden />
      <ul class="menu">
          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">HOME</a>
        </li>
          <!-- <input type="checkbox" id="drop-1"/>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul> -->
          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">LOST 'n FOUND' <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul>
          </li>
          <li>
              <label for="drop-1" class="toggle" aria-hidden="true"></label>
              <a class="names" href="#">CAT CARE <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">Cat Foods</a></li>
                  <li><a href="#">Cat Health</a></li>
                  <li><a href="#">Cat Breeds</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">ADOPTION <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">RESOURCES <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">Blogs/Articles</a></li>
                  <li><a href="#">Cat Videos</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">ABOUT</a></li>
      </ul>
  </nav>
  


  <div class="container">

      <img class="preview" src="../assets/preview.png" alt="">

    <div class="intro">
     <h1>
      NOT ONLY PEOPLE NEED A HOME
     </h1>
     <p>
      If you are thinking of bringing a cat in to your home you should make sure that all are <br>  nice and comfortable.
      From foods to health and from us to your care.</p>
      <button id="buttonlearnmore">Learn More</button>
    </div>

    <div class="first">
      <h4>Welcome!</h4>
      <h1>WHAT WE OFFER</h1>
      <img id="smallcat" src="../assets/fat-cat.png" alt="">
      <p>Who safeguarded who?<br>Sometimes the littlest things take up the most room in your heart.</p>

    </div>

  </div> 

