<div class="logo">
  <img class="logo" src="../assets/logo.png" alt="">
</div>

<nav>
    <label for="drop" class="toggle"></label>
    <input type="checkbox" id="drop" hidden />
      <ul class="menu">
          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">HOME </a>
        </li>
          <!-- <input type="checkbox" id="drop-1"/>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul> -->
          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">LOST 'n FOUND' <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul>
          </li>
          <li>
              <label for="drop-1" class="toggle" aria-hidden="true"></label>
              <a class="names" href="#">CAT CARE <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">ADOPTION <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">CAT GALLERY <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">ABOUT</a></li>
      </ul>
  </nav>




  <div class="home">
    <img src="../assets/kittenify__1_-removebg-preview.png" alt="">
    <div >
     <!-- <p>
      NOT ONLY PEOPLE NEED A HOME
     </p>

     <p>
      If you are thinking of bring a cat in to your home you should make sure that all are nice and comfortable. From foods to health and from us to your care.


     </p> -->

     <!-- <h1>
      NOT ONLY PEOPLE NEED A HOME

     </h1> -->
    </div>
  </div>
