<div class="logo">
  <img class="logo" src="../assets/logo.png" alt="">
</div>

<nav>
    <label for="drop" class="toggle"></label>
    <input type="checkbox" id="drop" hidden />
      <ul class="menu">
          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">HOME</a>
        </li>
          <!-- <input type="checkbox" id="drop-1"/>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul> -->
          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">LOST 'n FOUND </a>
          </li>
          <li>
              <label for="drop-1" class="toggle" aria-hidden="true"></label>
              <a class="names" href="#">CAT CARE <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">Cat Foods</a></li>
                  <li><a href="#">Cat Health</a></li>
                  <li><a href="#">Cat Breeds</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">ADOPTION <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">RESOURCES <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">Blogs/Articles</a></li>
                  <li><a href="#">Cat Videos</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">ABOUT</a>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">PROFILE<img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a routerLink="/login">Sign In</a></li>
                  <li><a routerLink="/signup">Sign Up</a></li>
              </ul>
          </li>
      </ul>
  </nav>



  <div class="container">

      <img class="preview" src="../assets/preview.png" alt="">

    <div class="intro">
     <h1>
      NOT ONLY PEOPLE NEED A HOME
     </h1>
     <p>
      If you are thinking of bringing a cat in to your home you should make sure that all are <br>  nice and comfortable.
      From foods to health and from us to your care.</p>
      <button id="buttonlearnmore">Learn More</button>
    </div>

  </div>

  <div class="containertwo">

    <div class="first">
      <h4>Welcome!</h4>
      <h1>WHAT WE OFFER</h1>
      <img id="smallcat" src="../assets/fat-cat.png" alt="">
      <p>Who safeguarded who?<br>Sometimes the littlest things take up the most room in your heart.</p>
      <img id="modelcat" src="../assets/picinfront.png" alt="">
    </div>
    <div class="second">
      <h3> <img class="featlogo" src="../assets/cat-caregivers.png" alt=""> Cat Care</h3>
      <h5>Preventing illness and disease in our feline companions is easier, healthier, and <br> cheaper than attempting to treat a problem once it arises.</h5>
    </div>
    <div class="third">
      <h3>  <img class="featlogo" src="../assets/catfood.png" alt=""> Cat Foods</h3>
      <h5>All natural cat food is richer in nutrient-dense calories and provide the cat <br> with all the energy it needs to stay active.</h5>
    </div>
    <div class="fourth">
      <h3><img class="featlogo" src="../assets/catbreed.png" alt="">Cat Breed Gallery</h3>
      <h5>Every cat breed has its own unique temperament, strengths, <br>quirks, and fun facts.</h5>
    </div>
    <!-- <div class="fifth">
      <h3>feature</h3>
      <h5>mengmengemngemen dmhwevdgevdwkef</h5>
    </div> -->
    <div class="sixth">
      <h3>Rehome a Pet Cat <img class="featlogo" src="../assets/catrehome.png" alt=""></h3>
      <h5>Rehoming your cat should be safe and straightforward both for <br> you and your pet</h5>
    </div>
    <div class="seventh">
      <h3>Lost 'n Found <img class="featlogo" src="../assets/catlost.png" alt=""></h3>
      <h5>The best place to find and post a missing feline companion </h5>
    </div>
    <div class="eightth">
      <h3>Shelter / Rescue <img class="featlogo" src="../assets/catshelter.png" alt=""></h3>
      <h5>If you've been thinking that it's time to add a pet <br> to your family, consider adopting from a local shelter or rescue group.</h5>
    </div>
    <!-- <div class="nineth">
      <h3>feature</h3>
      <h5>mengmengemngemen dmhwevdgevdwkef</h5>
    </div> -->


</div>



