/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');



/* Giving a background-color to the nav container. */
nav {
	margin-top:19px;
	padding: 20px 35px;
	background-color: #FBC252;
  width:80%;
  float:right;

}

.logo {
  width:300px;
  height:120px;
  float:left;
  padding-left: 10px;
  margin-top: 0px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Bree Serif', serif;
  padding-left: 50px;
  text-align: right;

}

ul {
  background: #FBB454;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: -25px;
}

li {
  color: #fff;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}


li a {
  color: rgb(11, 10, 10);
}

li:hover {
  background: #FFFBAC;
  cursor: pointer;

}

ul li ul {
  background: #FF9F29;
  visibility: hidden;
  opacity: 0;
  min-width: 300px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  display: none;

}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.downbutton{
    width:20px;
    height:10px;
    padding-left: 5px;
}
/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/


/* Change ' +' in order to change the Dropdown symbol */
/* li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; } */


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {



}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}


/* body css starts here */

.home img{
  float: right;
  margin-top: 50px;
}

/* navbar css ends here */

.container{
  padding-top: 20px;
  display: inline;
}
.preview{
  float:right;
  margin-right: 20px;
  width: 40%;
  height: 40%;


}
.intro{
  float: left;
  margin-top: 260px;
  margin-left:70px;
  padding:10px 20px;
  position:absolute;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
}
.intro h1{
  font-size: 55px;
  font-family: 'Fredoka One', cursive;
  margin-bottom: auto;
}
.intro #buttonlearnmore{
  padding:15px 50px;
  font-size: 20px;
  margin-left:370px;
  margin-top: 40px;
  background-color: #EC994B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.intro #buttonlearnmore:hover{
  background-color: #FFD59E;

}
.intro #buttonlearnmore:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.containertwo{
  margin-top: 80px;
  margin-bottom: 20px;
}
.containertwo .first{
  position: absolute;
  margin-top: 890px;
  right: 700px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}
.containertwo .first h4{
  color:#EC994B;
}
.containertwo #smallcat{
  margin-top: -10px;
  width:60px;
  height:60px;
}
.containertwo .second{
  position: absolute;
  margin-top: 1150px;
  right: 150px;
  font-family: 'Fredoka One', cursive;
}
.containertwo .third{
  position: absolute;
  margin-top: 1340px;
  right: 100px;
  font-family: 'Fredoka One', cursive;
}
.containertwo .fourth{
  position: absolute;
  margin-top: 1550px;
  right: 250px;
  font-family: 'Fredoka One', cursive;
}
/* .containertwo .fifth{
  position: absolute;
  margin-top: 1600px;
  right: 250px;
  font-family: 'Fredoka One', cursive;
} */
.containertwo .sixth{
  position: absolute;
  margin-top: 1150px;
  left: 200px;
  font-family: 'Fredoka One', cursive;
  text-align: right;
}
.containertwo .seventh{
  position: absolute;
  margin-top: 1340px;
  left: 150px;
  font-family: 'Fredoka One', cursive;
  text-align: right;
}
.containertwo .eightth{
  position: absolute;
  margin-top: 1550px;
  left: 150px;
  font-family: 'Fredoka One', cursive;
  text-align: right;
}
/* .containertwo .nineth{
  position: absolute;
  margin-top: 1600px;
  left: 250px;
  font-family: 'Fredoka One', cursive;
  text-align: right;
} */
.containertwo h5{
  font-size: 15px;
}
.containertwo .featlogo{
  width:50px;
  height:50px;
}

footer{

  margin-top: 1900px;
  width: 100%;
  /* height: 2.5rem; */

}




