
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
	position:absolute;
   top:20px;
   right:0;
   background-color: #FBC252;
   padding: 20px 35px;
   width:80%;
   height:100px;

}
.header h1{
  font-family: 'Bree Serif', serif;
  text-align: left;
}
.logo {
  width:300px;
  height:120px;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
nav .buttons{
  float:right;

}

nav label{
  margin-left: 50px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  padding: 15px 80px;
  margin-top: -8px;
  background-color: #434242;
  color:azure;
  border-style:solid;
  border-color: #FFFBAC;
  border-width: 5px;
}
nav label:hover{
  background-color: #FFFBAC;
  border-style:solid;
  border-color: #434242;
  border-width: 5px;
  color:black;
}
.title_lines h1{
  font-family: 'Bree Serif', serif;

}

  /* search bar here */
button[type="submit"]:hover {
  opacity: 1;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 9rem auto;
  margin-left:400px;
  margin-bottom: 40px;
}

.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;

}
.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  border-color: #434242;
  border-style: solid;
  border-width: 2px;
  width: 100%;
  height: 70px;
  background: #FBC252;
  outline: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}


/* .container .collage{
  padding-left: 400px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	min-width:5000px;
}
.container .collage img{
  margin-left: 10px;
  margin-bottom: 10px;

} */


#buttons{
  margin: auto;
  text-align: center;
  padding-bottom: 70px;
}

.buy button{
  margin-left: 50px;
  width: 50px;
}
.name1{
  color: #960303;
}
#buttons #buttonlearnmore img{
  width:80px;
  height:85px;
}
#buttons #buttonfound img{
  width:80px;
  height:85px;
}
.button {
  border: none;
  color: white;
  padding: 13px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5%;
}
 #buttonlearnmore{
  padding:15px 50px;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  margin-left:70px;
  margin-top: 40px;
  background-color: #FFD59E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
 #buttonlearnmore:hover{
  background-color: #EC994B;

}
 #buttonlearnmore:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 #buttonfound{
  padding:15px 40px;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  margin-left:70px;
  margin-top: 40px;
  background-color: #EC994B ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
 #buttonfound img{
  width: 80px;
}
 /* #buttonfound:hover{
  background-color: #FFD59E;

} */
 #buttonfound:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


 /* * {
  box-sizing: border-box;
} */
body {
  padding: 1rem;
}

/* Just for the fallback layout */

main {
  max-width: 500px;
  margin: 0 auto;
}
article {
  margin: 1rem 0;
}

/* Now lets do a Grid-based layout */

@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
  }
  .deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
}

.deals {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%;
}
.sale-item {
  display: flex;
  flex-flow: column;
  border:  1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}
.sale-item > h1 {
  margin: 1rem 1rem 0;
}
.sale-item > ul {
  margin: 0 0 1rem;
}
.sale-item > p {
  margin: 0.25em 1rem 1rem;
}
.sale-item > img {
  order: -1;
  align-self: center;
}
.sale-item >a button {
  margin-top: auto;
  background: #e67700;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
}
