<div class="logo">
  <img class="logo" src="../assets/logo.png" alt="">
</div>

<body>


<nav>
    <label for="drop" class="toggle"></label>
    <input type="checkbox" id="drop" hidden />
      <ul class="menu">
          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">HOME</a>
        </li>
          <!-- <input type="checkbox" id="drop-1"/>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul> -->
          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a routerLink="/lostnfound"><a class="names" href="#">LOST 'n FOUND </a></a>
            <!-- <a class="names" href="#">LOST 'n FOUND </a> -->
          </li>

          <li>
              <label for="drop-1" class="toggle" aria-hidden="true"></label>
              <a class="names" href="#">CAT PRODUCTS</a>
              <!-- <ul>
                  <li><a href="#">Cat Foods</a></li>
                  <li><a href="#">Cat Health</a></li>
                  <li><a href="#">Cat Breeds</a></li>
              </ul> -->
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">ADOPTION <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
                  <li><a href="#">memeng</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">RESOURCES <img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a href="#">Blogs/Articles</a></li>
                  <li><a href="#">Cat Videos</a></li>
              </ul>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">ABOUT</a>
          </li>

          <li>
            <label for="drop-1" class="toggle" aria-hidden="true"></label>
            <a class="names" href="#">PROFILE<img class="downbutton" src="../assets/down button.png"></a>
              <ul>
                  <li><a routerLink="/login">Sign In</a></li>
                  <li><a routerLink="/signup">Sign Up</a></li>
              </ul>
          </li>
      </ul>
  </nav>
