@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
  height: 190vh;
    background: linear-gradient(
        135deg,
        #FFD59E,
        #FBC252
    );
}

/* header styling */

header {

  text-align: center;
  margin-top: 25px;
}
header img{
  width: 10%;
}
main{
  background: linear-gradient(
    135deg,
    #FFD59E,
    #FBC252
);
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    margin-top: 800px;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
    justify-items: center;
    margin-left:50px;
}

#title {
  flex: 1;
  margin: 3px 30% 0px 5%;
  color: black;
  font-size: 80px;
  padding-left: 550px;
  font-family: 'Quicksand', sans-serif;

}

#top-pic {
  max-width: 50%;
  float: left;
  margin-top: -130px;
  margin-right: 250px;

}

/* main styling */

#survey-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  font-size: 1.5em;
  border: 2px solid black;
  margin: 0px 50px 50px 50px;
  background-color: #ffa366;
  box-shadow: 5px 5px 5px black;
}

#description {
  flex: 1;
  font-size: 1.1em;
  text-align: center;
}

form,
#todays-date>select,
input,
textarea,
#dropdown {
  flex: 1;
  margin-left: 5px;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;

}

.main-label {
  font-size: 1.1em;
  font-weight: bold;
}

form>div {
  flex: 1;
  align-items: center;
  padding: 5px;
  margin: 1px 5% 15px 5%;

}

ul {
  padding-left: 0px;
}

li {
  padding: 2px 2px 2px 5px;
  display: inline-block;
  list-style: none;
}

textarea {
  width: 100%;
}
/* #age input{
  width:20px;
  height:30px;
}
#age input label{
  margin-left:50px;
} */

#button {
  display: flex;
  justify-content: center;
}

#submit {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  background-color: #ffa366;
  padding: 15px;
  box-shadow: 5px 5px 5px black;

}
