@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

nav {
	position:absolute;
   top:20px;
   right:0;
   background-color: #FBC252;
   padding: 20px 35px;
   width:80%;
   height:100px;

}
.header h1{
  font-family: 'Bree Serif', serif;
  text-align: left;
}
.logo {
  width:300px;
  height:120px;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
nav .buttons{
  float:right;

}

nav label{
  margin-left: 50px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  padding: 15px 80px;
  margin-top: -8px;
  background-color: #434242;
  color:azure;
  border-style:solid;
  border-color: #FFFBAC;
  border-width: 5px;
}
nav label:hover{
  background-color: #FFFBAC;
  border-style:solid;
  border-color: #434242;
  border-width: 5px;
  color:black;
}

.container{
  padding-top: 20px;
  display: inline;

}
.preview{
  position: flex;
  float:right;
  margin-right: 50px;
  width: 45%;
  height: 40%;
  margin-top: -600px;

}
.intro{
  float: left;
  margin-top: -600px;
  margin-left:50px;
  padding:10px 20px;
  position:absolute;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
}
.intro h1{
  font-size: 55px;
  font-family: 'Fredoka One', cursive;
  margin-bottom: auto;
}

.intro p{
  font-size: 25px;
}
.intro #buttonlearnmore{
  padding:15px 50px;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  margin-left:70px;
  margin-top: 40px;
  background-color: #EC994B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.intro #buttonlearnmore:hover{
  background-color: #FFD59E;

}
.intro #buttonlearnmore:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.intro #buttonfound{
  padding:15px 40px;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  margin-left:70px;
  margin-top: 40px;
  background-color: #EC994B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.intro #buttonfound img{
  width: 80px;
}
.intro #buttonfound:hover{
  background-color: #FFD59E;

}
.intro #buttonfound:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.wall{
  position: flex;
  margin-top: 900px;
  margin-left: 200px;
}
.containertwo {
  width: 90%;
  margin-left: auto;
  margin-right: 200px;
  padding-top: 100px;
}
.containertwo h1{
  margin-bottom: 30px;
  font-family: 'Fredoka One', cursive;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow:wrap;
}
.row .card img{
  width:250px;
  height:250px;
  margin: -50px;

  /* margin-bottom: -30px; */
}

.card {
  width: 320px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 70px 10px;
  background: #FBC252;
  color: #434242;
}

.card-body {
  padding: 20px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background:#EC994B;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  text-decoration: none;
  list-style: none
}

#chkBox{
  display: none;
}
#chkBox1{
  display: none;
}
.mainContnt{
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  background: rgba(0,0,0,0.8);
}
.box{
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  width: 50%;
  height: 300px;
  transform: translateY(-1000px);
  transition: all 1s ease-in;
  margin: auto;
  background: #fff;
}

.bx2{
  padding: 60px 50px 0 32px;
}
.box1{
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  width: 50%;
  height: 700px;
  transform: translateY(-1000px);
  transition: all 1s ease-in;
  margin: auto;
  background: #fff;
  margin-top:30px;
}
.bx2 h3 {
margin-bottom: 16px;
font-family: 'Fredoka One', cursive;
}
.bx3{
  padding: 60px 50px 0 32px;
}
.bx3 h3 {
margin-bottom: 16px;
font-family: 'Fredoka One', cursive;
}
.login-form input {
width: 100%;
height: 52px;
padding: 15px;
margin-bottom: 25px;
font-family: 'Fredoka One', cursive;
}
.login-form #imgupload {
  width:200px;
  height: 175px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.login-form input[type="submit"] {
background: #FFD59E;
font-size: 25px;
text-transform: uppercase;
line-height: 20px;
color: #434242;
}
.login-form input[type="submit"]:hover{
  background-color: #EC994B;
  color:#fff;

}
.login-form input[type="submit"] :active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* .close-box .box-close{
  color: #434242;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 18px
} */
.box-close  {
position: absolute;
bottom: 225px;
right: 5px;
}
.box-close1  {
position: absolute;
top:10px;
right: 5px;
}
#chkBox:checked + .mainContnt{
  visibility: visible;
  opacity: 1;
}
#chkBox1:checked + .mainContnt{
  visibility: visible;
  opacity: 1;
}

#chkBox:checked + .mainContnt .box{
  transform: translateY(0);
}
#chkBox1:checked + .mainContnt .box1{
  transform: translateY(0);
}
/* .nextcontainer .first{
  position: absolute;
  margin-top: 90px;
  right: 700px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}
.nextcontainer .first h4{
  color:#EC994B;
}
.nextcontainer #smallcat{
  margin-top: -10px;
  width:60px;
  height:60px;
} */


