<main role="main">
  <section class="jumbotron text-center">

    <div class="logo">
      <a routerLink="/home"
        ><img class="logo" src="../assets/logo.png" alt=""
      /></a>
    </div>

    <nav>
      <div class="header">
        <h1>REHOME</h1>
        <div class="buttons">
          <!-- <button type="button" class="btn" for="chkbox">I Found a Pet</button> -->
          <!-- <label class="btn" for="chkBox">I Found a Pet</label>
          <input type="checkbox" name="" id="chkBox" /> -->
          <!-- <div class="mainContnt">
            <div class="box">
              <div class="boxes bx2">
                <h3>Please Enter Found Location</h3>
                <div class="login-form">
                  <input
                    type="text"
                    placeholder="Enter City, State or Zip Code "
                  />
                  <input type="submit" value="submit" />
                </div>
                <div class="close-box">
                  <label for="chkBox" class="box-close">X</label>
                </div>
              </div>
            </div> -->
          <!-- </div> -->

          <a routerLink="/rehome-form"><label class="btn" for="chkBox1">Rehome a Cat</label></a>
          <input type="checkbox" name="" id="chkBox1" />


          <a routerLink="/home"><label class="btn" for="chkBox">Back to Home</label></a>
          <input type="checkbox" name="" id="chkBox" />
          
        </div>
      </div>
    </nav>
  </section>

  
  <div class="container">
    <img class="preview" src="../assets/cat.jpg" alt="" />

    <div class="intro">
      <h1>
       Find your pet a loving forever <br> home
      </h1>
      <p>
        Are you looking for a new home for your pet? If so, you're in the right
        place! <br> We are here to help you safely find a loving forever home for
        your pet. <br> All you need to do is to set up your pet's profile in less
        than 10 mins. <br> Once complete, your pet's profile will be posted and be seen by millions <br> of visitors each month!
      </p>
      <button id="buttonlearnmore" class="btn" for="chkBox1">
        <!-- <img src="../assets/lost.png" alt="" /> <br /> -->
        Get Started
      </button>

      <!-- <button id="buttonfound">
        <img src="../assets/paw.png" alt="" /> <br />
        Found a Pet
      </button> -->
    </div>
  </div>

  <div class="wall">

  </div>


</main>

